Makefile
Makefile.in
.dirstamp
.deps/
.libs/
*.[ao]
*.l[ao]
stamp-h?
/INSTALL
/aclocal.m4
/autom4te.cache
/config.*
/configure
/configure.lineno
/docs/doc-install.pl
/docs/doc-postprocess.pl
/docs/doxygen.css
/docs/doxygen-extra.css
/docs/tagfile-to-devhelp2.xsl
/libtool
/pangomm-*.tar.*
/pango/pangomm-*.pc
/pango/pangommconfig.h
/pango/src/.stamps/
/tools/extra_defs_gen/generate_extra_defs
/MSVC_NMake/pangomm/pangomm.rc
/MSVC_NMake/pangomm/pangommconfig.h
/MSVC_NMake/pkg-ver.mak
untracked/build_scripts/
untracked/docs/
untracked/pango/
