Makefile
Makefile.in
.dirstamp
.deps/
.libs/
*.[ao]
*.l[ao]
stamp-h?
/INSTALL
/aclocal.m4
/autom4te.cache
/config.*
/configure
/configure.lineno
/libtool
/pangomm-*.tar.*
/pango/pangomm-*.pc
/pango/pangommconfig.h
/pango/src/.stamps/
/tools/extra_defs_gen/generate_extra_defs
/MSVC_Net201?/pangomm/pangomm.rc
/MSVC_Net201?/pangomm/pangommconfig.h
